@import '../../marketplace.css';

.root {
}

.input {
  border-bottom-color: var(--attentionColor);
}

.inputSuccess {
  border-bottom-color: var(--successColor);
}

.inputError {
  border-bottom-color: var(--failColor);
}

.input:disabled {
  border-bottom-color: var(--matterColorAnti);
  color: var(--matterColorAnti);
}

.textarea {
}
